<div class="main container my-5 p-5 bg-light text-center shadow">
    <h1 class="display-4">Lista de Hábitos📝</h1>
    <p class="lead">Cadastre aqui os hábitos que você tem que 
vencer para melhorar sua vida!💪🏼</p>
</div>

<div class="container my-5 p-5 bg-light text-center rounded shadow">
    <div class="table-responsive">
        <table class=" table table-striped table-hover">

            <thead class="table-dark">
                <th >Hábitos</th>
                <th colspan="3">Ações</th>
                
            </thead>

            <tbody> 
                 <tr ng-repeat="habito in habitos | orderBy:'nome'" class="w-auto">
                    <td>{{habito.nome}}</td> 
                    <td><button class="newbtn btn btn-outline-success" ng-click="vencerHabito(habito)" ng-style="{'visibility': habito.status == 'A' ? 'visible' : 'hidden'  }">Vencer</button></td>
                    <td>
                        <button class="newbtn btn btn-outline-danger" ng-click="desistirHabito(habito)" ng-style="{'visibility': habito.status == 'A' ? 'visible' : 'hidden'  }">Desistir</button>
                        <button class="newbtn btn btn-outline-primary" ng-click="retomarHabito(habito)" ng-style="{'visibility': habito.status == 'V' ? 'visible' : 'hidden'  }">Retomar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="main container my-5 p-5 bg-light text-center shadow"> 
    <p class="lead">Melhore sua vida!💥</p>
    <p class="lead">Cadastre aqui os seus maus hábitos!</p>
    <a class="newbtn btn btn-success" href="#/novohabito" role="button">Inserir novos hábitos</a>
</div>