<div class="main container my-5 p-5 bg-light text-center shadow">
    <h1 class="display-4">Cadastrar Hábitos</h1>
    <p class="lead"><label>Hábito: <input class="form-control" type="text" id="nome" name="nome" autofocus ng-model="nome"></label></p>
    <p><button ng-click="inserirHabito(nome)" class="newbtn btn btn-success" >Cadastrar</button></p>
    <a class="text-decoration-none" href="#/listadehabitos"><button class="newbtn btn btn-outline-dark">Voltar</button></a>
</div>

<div class="container my-5 p-5 bg-light text-center rounded shadow">
    <div class="table-responsive">
        <table class="table table-striped table-hover">

            <thead class="table-dark">
                <th>Hábitos</th>
            </thead>

            <tbody>
                 <tr ng-repeat="habito in habitos | orderBy:'status'">
                    <td>{{habito.nome}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>

